// colors
$color-1: #45b83c; //green
$color-2: #8d5fd3; //purple
$color-3: #10428c; //dk blue
$color-4: #666666; //grey
$color-5: #FFFFFF; // White

// fonts 

$primary-font: sans-serif;
$secondary-font: 'Playfair Display', serif;

//number of projects

$items: 3;